In [2]:
!pip install surprise

Requirement already satisfied: surprise in /usr/local/lib/python3.7/dist-packages (0.1)
Requirement already satisfied: scikit-surprise in /usr/local/lib/python3.7/dist-packages (from surprise) (1.1.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.0.1)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.4.1)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.19.5)

In [3]:
import pandas as pd
import numpy as np
from google.colab import drive
import os
import scipy
from collections import defaultdict
import itertools
import random
from surprise import SVD
from surprise import Dataset, Reader
from surprise import accuracy
from surprise.model_selection import cross_validate
from surprise.model_selection import GridSearchCV
from sklearn.decomposition import TruncatedSVD
import matplotlib.pyplot as plt
from google.colab import drive

In [4]:
!wget https://github.com/zygmuntz/goodbooks-10k/releases/download/v1.0/goodbooks-10k.zip
!unzip -o goodbooks-10k.zip

--2021-04-17 06:48:48--  https://github.com/zygmuntz/goodbooks-10k/releases/download/v1.0/goodbooks-10k.zip
Resolving github.com (github.com)... 140.82.112.3
Connecting to github.com (github.com)|140.82.112.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://github-releases.githubusercontent.com/103417214/653146ae-9d7a-11e7-8135-735cd7dcef60?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20210417%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210417T064848Z&X-Amz-Expires=300&X-Amz-Signature=8ce0e6e774f47d2bf64b942f6ac4ff9cb5fcaa985f6c0e92cc6b7a4624c2a86b&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=103417214&response-content-disposition=attachment%3B%20filename%3Dgoodbooks-10k.zip&response-content-type=application%2Foctet-stream [following]
--2021-04-17 06:48:48--  https://github-releases.githubusercontent.com/103417214/653146ae-9d7a-11e7-8135-735cd7dcef60?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20210417%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210417T064848Z&X-Amz-Expires=300&X-Amz-Signature=8ce0e6e774f47d2bf64b942f6ac4ff9cb5fcaa985f6c0e92cc6b7a4624c2a86b&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=103417214&response-content-disposition=attachment%3B%20filename%3Dgoodbooks-10k.zip&response-content-type=application%2Foctet-stream
Resolving github-releases.githubusercontent.com (github-releases.githubusercontent.com)... 185.199.111.154, 185.199.109.154, 185.199.110.154, ...
Connecting to github-releases.githubusercontent.com (github-releases.githubusercontent.com)|185.199.111.154|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 32675160 (31M) [application/octet-stream]
Saving to: ‘goodbooks-10k.zip.2’

goodbooks-10k.zip.2 100%[===================>]  31.16M   130MB/s    in 0.2s

2021-04-17 06:48:48 (130 MB/s) - ‘goodbooks-10k.zip.2’ saved [32675160/32675160]

Archive:  goodbooks-10k.zip
  inflating: books.csv
  inflating: book_tags.csv
  inflating: LICENSE
  inflating: ratings.csv
  inflating: README.md
  inflating: tags.csv
  inflating: to_read.csv

In [5]:
os.listdir()

['.config',
 'book_tags.csv',
 'to_read.csv',
 'tags.csv',
 'README.md',
 'LICENSE',
 'goodbooks-10k.zip',
 'goodbooks-10k.zip.2',
 'ratings.csv',
 'books.csv',
 'goodbooks-10k.zip.1',
 'sample_data']

In [6]:
books = pd.read_csv('books.csv')
books = books.iloc[:, :16]
books = books.drop(columns=['title', 'best_book_id', 'work_id', 'books_count', 'isbn', 'isbn13', 'original_publication_year','language_code','work_ratings_count','work_text_reviews_count']) #dropping unwanted columns 
books.head(5)

   book_id  goodreads_book_id  ... average_rating ratings_count
0        1            2767052  ...           4.34       4780653
1        2                  3  ...           4.44       4602479
2        3              41865  ...           3.57       3866839
3        4               2657  ...           4.25       3198671
4        5               4671  ...           3.89       2683664

[5 rows x 6 columns]

In [11]:
ratings = pd.read_csv('ratings.csv', sep=',')
ratings.head(5)

   user_id  book_id  rating
0        1      258       5
1        2     4081       4
2        2      260       5
3        2     9296       5
4        2     2318       3

In [12]:
df = pd.merge(ratings, books, on="book_id") # Merging dataset on Book_id since Book_id is more reliable than original_title
df.head(5)

   user_id  book_id  ...  average_rating  ratings_count
0        1      258  ...            4.24         263685
1       11      258  ...            4.24         263685
2      143      258  ...            4.24         263685
3      242      258  ...            4.24         263685
4      325      258  ...            4.24         263685

[5 rows x 8 columns]

In [13]:
#dropping duplicate entries
df1= df.drop_duplicates(['user_id','original_title'])
df1= df.drop_duplicates(['user_id','book_id'])
df1.head(10)
df1.shape

(5976479, 8)

In [ ]:
books_matrix = df1.pivot_table(index = 'user_id', columns = 'original_title', values = 'rating').fillna(0)
books_matrix.shape 
books_matrix.head()

In [16]:
X = books_matrix.values.T
X.shape
# using Single Value Decomposition model (SVD)
SVD = TruncatedSVD(n_components=12, random_state=42)
#Fitting the Model
matrix = SVD.fit_transform(X)
matrix.shape

(9274, 12)

In [21]:
import warnings
warnings.filterwarnings("ignore",category =RuntimeWarning)#to avoid RuntimeWarning #Base class for warnings about dubious runtime behavior.
corr = np.corrcoef(matrix)
corr.shape

(9274, 9274)

In [22]:
#checking results
title = books_matrix.columns
title_list = list(title)
samia = title_list.index('The Maze Runner')
corr_samia  = corr[samia]
list(title[(corr_samia >= 0.9)])

['A Court of Mist and Fury',
 'A Court of Thorns and Roses',
 'A Kiss in Time',
 'A Million Suns ',
 'A Thousand Pieces of You',
 'A Torch Against the Night',
 'A Work in Progress',
 'Across the Universe',
 'Afterworlds',
 'All Fall Down',
 'All Our Yesterdays',
 'Allegiant',
 'An Ember in the Ashes',
 'Anna and the French Kiss',
 'Annabel',
 'Aristotle and Dante Discover the Secrets of the Universe',
 'Article 5',
 'Ashfall',
 'Asylum',
 'Better Off Friends',
 'Binge',
 'Birthmarked',
 'Bitterblue',
 'Blood Red Road ',
 'Blue Lily, Lily Blue',
 'Bruiser',
 'Burn for Burn',
 'Caraval',
 'Champion',
 'Cinder',
 'City of Heavenly Fire',
 'Cress',
 'Crewel',
 'Crooked Kingdom',
 'Crossed',
 'Crown of Midnight',
 'Cruel Beauty',
 'Daughter of Smoke & Bone',
 'Day 21',
 'Days of Blood & Starlight',
 'Delirium',
 'Destroy Me',
 'Divergent',
 'Dorothy Must Die',
 'Dreams of Gods & Monsters',
 'Enclave',
 'Endgame: The Calling',
 'Entwined',
 'Etiquette & Espionage',
 'Everlost',
 'Everything Leads to You',
 'Fairest',
 'Fear',
 'Forgotten',
 'Four: A Divergent Collection',
 'Four: The Initiate',
 'Four: The Son',
 'Four: The Transfer',
 'Fracture Me',
 'Fragments',
 'Free Four: Tobias Tells the Divergent Story',
 'Froi of the Exiles',
 'Gemina',
 'Girl Online',
 'Girl, Stolen',
 'Glass Sword',
 'Gone',
 'Graduation Day',
 'Half Bad',
 'Hana',
 'Happily Ever After',
 'Heartless',
 'Heir of Fire',
 'Heist Society',
 'Horde',
 'Hunger ',
 'I Am Number Four',
 'I Hunt Killers',
 'Ignite Me (Shatter Me, #3)',
 'Illuminae',
 'In The Afterlight',
 'Independent Study',
 'Insurgent',
 'Intet',
 'Into the Still Blue',
 'Isla and the Happily Ever After',
 "King's Cage",
 'Kings Rising',
 'Lady Midnight',
 'Legend',
 'Let It Snow: Three Holiday Romances',
 'Lies',
 'Life Before Legend',
 'Light',
 'Lockdown',
 'Lola and the Boy Next Door',
 'Love Letters to the Dead',
 'Magonia',
 'Matched',
 'Monsters',
 'Monsters of Men',
 'Monument 14',
 'More Than This',
 'My Life with the Walter Boys',
 'My True Love Gave to Me: Twelve Holiday Stories',
 'Never Fade',
 'Numbers',
 'Once',
 'Out of Sight, Out of Time',
 'Outpost',
 'P.S. I Still Love You',
 'Pandemonium',
 'Panic',
 'Partials',
 'Passenger',
 'Perfect Scoundrels',
 'Pivot Point',
 'Plague',
 'Prized',
 'Prodigy',
 'Promised',
 'Queen Song',
 'Queen of Shadows',
 'Reached',
 'Rebel Belle',
 'Rebel Heart',
 'Rebel of the Sands',
 'Reboot',
 'Red Queen',
 'Requiem',
 'Rot & Ruin',
 'Rubinrot',
 'Ruin and Rising',
 'Saphirblau',
 'Sapphique',
 'Scarlet',
 'Seraphina',
 'Sever',
 'Shades of Earth',
 'Shadow and Bone',
 'Shatter Me (Shatter Me, #1)',
 'Siege and Storm',
 "Since You've Been Gone",
 'Six of Crows',
 "Six's Legacy",
 'Slated',
 'Smaragdgrün',
 'Snow Like Ashes',
 'Splintered',
 'Stars Above',
 'Starters',
 'The 100',
 'The 5th Wave',
 'The Archived',
 'The Ask and the Answer',
 "The Assassin's Blade",
 'The Bane Chronicles',
 'The Coldest Girl in Coldtown',
 'The Crown',
 'The Darkest Minds',
 'The Darkest Part of the Forest',
 'The Dead and the Gone',
 'The Death Cure',
 'The Declaration',
 'The Diviners',
 'The Dream Thieves',
 'The Elite',
 'The Evolution of Mara Dyer',
 'The Eye of Minds',
 'The Fall of Five',
 'The False Prince',
 'The Future of Us',
 'The Geography of You and Me',
 'The Guard',
 'The Heart of Betrayal',
 'The Heir',
 'The Hidden Oracle',
 'The Infinite Sea',
 'The Iron Trial',
 'The Jewel',
 'The Kill Order',
 'The Kiss of Deception',
 'The Knife of Never Letting Go',
 'The Last Little Blue Envelope',
 'The Last Star',
 'The Madman’s Daughter',
 'The Maze Runner',
 'The Monstrumologist',
 'The Name of the Star',
 'The Naturals',
 'The One',
 'The Power of Six',
 'The Prince',
 'The Program',
 'The Queen',
 'The Raven Boys',
 'The Raven King',
 'The Replacement',
 'The Retribution of Mara Dyer',
 'The Revenge of Seven',
 'The Rise of Nine',
 'The Rose & the Dagger',
 'The Rose Society',
 'The Runaway King',
 'The School for Good and Evil',
 'The Scorch Trials',
 'The Scorpio Races',
 'The Selection',
 'The Selection Stories: The Prince & The Guard',
 'The Shadow Throne',
 "The Shadowhunter's Codex",
 'The Sword of Summer',
 'The Testing',
 'The Unbecoming of Mara Dyer',
 'The Unexpected Everything',
 'The Wicked Will Rise',
 "The Winner's Crime",
 "The Winner's Curse",
 "The Winner's Kiss",
 'The Wrath & the Dawn',
 'The Young Elites',
 'These Broken Stars',
 'This Is What Happy Looks Like',
 'This Savage Song',
 'This Song Will Save Your Life',
 'This World We Live In',
 'Three Dark Crowns',
 'Throne of Glass',
 'Tiger Lily',
 "To All the Boys I've Loved Before",
 'UnDivided',
 'UnEnchanted',
 'UnSouled',
 'UnWholly',
 'Uncommon Criminals',
 'Unhinged',
 'United We Spy',
 'Unravel Me (Shatter Me, #2)',
 'Unspoken',
 'Unwind',
 'Variant',
 'Warm Bodies',
 'Waterfall',
 'Winter',
 '東京喰種トーキョーグール 1']